body {
    margin: 0;
    padding: 0;
    background-color: #fefefe;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

.app-container {
    width: 375px;
    height: 812px;
    background-color: white;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

.bottom-nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #052C65; 
    display: flex;
    z-index: 10;
}

.btn-red {
    background-color: #e60039;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    transform: skew(-15deg);
}

.bottom-nav a {
    flex: 1;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border-right: 1px solid #001133;
}
.bottom-nav a:last-child { border-right: none; }


.btn-red span {
    transform: skew(15deg);
    display: inline-block;
}

.vibes-card {
    height: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
}

.overlay-right {
    position: absolute;
    right: 15px;
    top: 30%;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.overlay-bottom {
    position: absolute;
    bottom: 60px; /* Над навигацией */
    width: 100%;
    background: rgba(0,0,0,0.6);
    color: white;
    padding: 15px;
    box-sizing: border-box;
}

/* Сброс стандартных стилей ползунка */
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
}

input[type=range]:focus {
    outline: none;
}

/* Стилизация дорожки (трека) */
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: #e0e0e0; /* Серый фон неактивной части */
    border-radius: 3px;
}

/* Стилизация самого ползунка (бегунка) */
input[type=range]::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #e60039; /* Твой фирменный красный цвет */
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px; /* Центрирование бегунка относительно дорожки */
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

/* Поддержка для Firefox */
input[type=range]::-moz-range-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: #e0e0e0;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #e60039;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.btn-icon {
    display: inline-block;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}